.editor {
    white-space: pre-wrap;
    border: 1px solid coral;
    min-width: 200px;
    width: 100%;
    height: 50px;
    min-height: 20px;
    text-align: left;
    position: relative;
    left: 0px;
    font-size: 16px;
    color: gray;
}

.editor .dml {
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}

.editor .from {
    font-size: 20px;
    font-weight: bold;
    color: chocolate;
}

.editor .where {
    font-size: 20px;
    font-weight: bold;
    color: lightslategray;
}

.editor .column {
    font-size: 16px;
    font-weight: normal;
    color: gray;
}

.word {
    max-width: 100px;
    border: 1px solid chocolate;
}

.word-list {
    background-color: #fff;
    border: 1px solid lightslategray;
    box-shadow: 5px 5px 5px lightslategray;
    text-align: left;
}

ul {
    list-style: none;
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px auto;
}

li {
    padding: 1px 5px 1px 5px;
    margin: 2px auto;
}

li:hover {
    background-color: lightgrey;
}

li {
    list-style-type: none;
}

span {
    min-width: 1em;
}

span *:after {
    content: '\200B';
}

.bold {
    font-weight: bold;
    color: lightcoral;
}

button {
    width: 50px;
    height: 30px;
    font-size: 13px;
}